<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.play.playground.mapper.FieldMapper">
    <sql id="tableName">
        FIELD
    </sql>

    <sql id="baseColumn">
        ID,TYPE,GROUND_ID,ADDRESS,STATUS,FIELD_NAME
    </sql>

</mapper>